$primary: #202020;
$secondary: #121212;
$white: #ededed;
$red: #ed3024;
$blue: #2a5fe7;
$black: #000000;
$grey: #828282;

$z-index-sidebar: 100;
$z-index-header: 100;
$z-index-madal: 200;

$sidebar-width: 300px;

$tablet-size: 991px;
$mobile-size: 768px;

$large-size: 991px;
$medium-size: 768px;
$small-size: 576px;
