.burger {
  display: none;
  height: 100%;
  width: 50px;
  position: relative;
  cursor: pointer;
  margin-left: 30px;

  @include breakpoint($large-size) {
    display: block;
  }

  /* 
green: #3FAF82

*/

  span {
    display: block;
    width: 27px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 3px;
    background: #fff;
    transition: all 0.3s;
    position: absolute;
  }

  // span + span {
  //   margin-top: 4px;
  // }

  .active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  .active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  .active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }
}

.no-active span:nth-child(1) {
  // animation: ease 0.7s top-2 forwards;
  top: 25%;
  transform: translate(0%, 50%);
}

.no-active span:nth-child(2) {
  // animation: ease 0.7s scaled-2 forwards;
  top: 50%;
  transform: translate(0%, -50%);
}

.no-active span:nth-child(3) {
  // animation: ease 0.7s bottom-2 forwards;
  bottom: 25%;
  transform: translate(0%, -50%);
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
