.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;
  background-color: $secondary;
  max-width: calc(100% - #{$sidebar-width});
  width: 100%;
  display: flex;

  @include breakpoint($large-size) {
    max-width: 100%;
  }

  &__nav {
    flex: 0 0 60%;
    @include breakpoint($medium-size) {
      flex: 0 0 50%;
    }
    @include breakpoint($medium-size) {
      flex: 0 0 40%;
    }
  }

  &__search {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
    @include breakpoint($medium-size) {
      flex: 0 0 50%;
    }
    @include breakpoint($medium-size) {
      flex: 0 0 60%;
    }
  }
}
