.search {
  max-width: 21rem;
  width: 100%;
  background-color: $primary;

  &__input {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    color: $white;
    padding: 1.2rem 1.3rem;
    outline: none;
    display: block;
    width: 100%;
    &::placeholder {
      color: rgba($color: $white, $alpha: 0.5);
    }
  }
}
