.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 16.5rem;
  background-color: $blue;
  padding: 0.6rem 0;
  border-radius: 0 0 5px 5px;

  &__item {
    width: 100%;
    display: block;
  }

  &__link {
    font-size: 1.2rem;
    color: $white;
    padding: 0.5rem 0.6rem;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}
