<aside class="sidebar show-sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar_header.jpg" alt="header-image" />
  </div>

  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/user.svg" alt="user-photo" />

      <div class="profile__name">Alex</div>

      <div class="profile__description">Front-end dev</div>

      <ul class="social">
        <li class="social-item">
          <a href="mailto:lectou@outlook.com"
            ><img src="assets/images/outlook-icon.svg" alt="outlook-icon" />
          </a>
        </li>
        <li class="social-item">
          <a href="#"><img src="assets/images/linkedin-icon.svg" alt="linkedin-icon" /></a>
        </li>
      </ul>

      <div class="profile__text">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, sapiente sed! Quod
          itaque animi enim officia veritatis eligendi ratione aliquam.
        </p>
      </div>
    </div>
  </div>

  <div class="sidebar__footer">
    <a class="btn btn--red" href="works.html">Мои работы</a>
    <button class="btn btn--blue">Написать мне</button>
  </div>
</aside>
