<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <div class="page">
      <!-- Header -->
      <header class="header">{{> header }}</header>

      <!-- Sidebar -->
      <aside class="sidebar">{{> sidebar }}</aside>

      <!-- Main -->
      <main class="main">
        <div class="container">{{> body }}</div>
      </main>

      <!-- Footer -->
      <div class="footer">{{> footer }}</div>
    </div>

    <!-- {{> story-modal }} -->

    <script src="assets/js/app.js"></script>
  </body>
</html>
